body {
  background: #e8eff5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 48px 0;
  color: #525252;
}

.btn-container {
  display: flex;
}

.btn {
  background: #e8eff5;
  height: 80px;
  width: 80px;
  margin: 0 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 400ms;

  box-shadow: 7px 7px 15px #bbcfda, -4px -4px 13px #fff,
    inset 4px 4px 8px rgba(209, 217, 230, 0.2),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn i {
  font-size: 40px;
  color: #727272;
  transition: all 400ms;
}

.btn:hover i {
  transform: scale(0.96);
}

.btn:hover {
  box-shadow: 4px 2px 18px #bbcfda, -4px -4px 13px #fff,
    inset 6px 6px 16px rgba(209, 217, 230, 0.8),
    inset -8px -8px 8px rgba(255, 255, 255, 0.2);

  transform: translateY(2px);
}
